.body{
    background-color: aqua;
}
.heading{
    margin-top: 50px;
    color: white;
}

.label-text{
    color: white;
}

.formbg{
    background-color: #f7f7f7d0;
    border-radius: 10px;
    margin-bottom:3rem;
}

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    border: 0;
    font-size: 100%;

    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
    scroll-behavior: smooth;
}