.body{
    background-color: aqua;
}
.heading{
    margin-top: 20px;
    color: white;
}

.label-text{
    color: white;
}

.formbg{
    background-color: #f7f7f7d0;
    border-radius: 10px
}

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    border: 0;
    font-size: 100%;

    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
    scroll-behavior: smooth;
}

.btn{
  background-color: #CFD2CF;
  border: solid;
  border-color: black;
  border-radius: 30px;
  width: 300px;
  color: black;
}

.btn:hover{
  background-color: #0d6efd;
  border: solid;
  border-color: black;
}
