/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
    scroll-behavior: smooth;
}
.dark-mode {
    --bg: #1d202d;
}

/* HTML5 display-role reset for older browsers */

/* article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    position: relative;
    background: var(--bg) !important;
}

/* toggler */
.toggle {
    display: flex;
    outline: 1px solid black;

}

.label {
    width: 5em;
    height: 2em;
    border-radius: 30px;
    background: var(--toggle);
    position: absolute;
    cursor: pointer;
    margin-left: -6em;
    margin-top: -1em;
}

.ball {
    width: 1.6em;
    height: 1.6em;
    background-color: var(--blue);
    position: absolute;
    border-radius: 50%;
    margin-top: 2px;
    margin-left: 3px;
    cursor: pointer;
    transition: all 250ms ease-in-out;
    margin-left: -92px;
    margin-top: -14px;
}

.label.label::before {
    content: "Dark Mode";
    position: absolute;
    display: inline-block;
    width: 90px;
    left: -100px;
    color: var(--toggle);
    top: 5px;
}

#checkbox:checked~.ball {
    transform: translate(3em);
}

#checkbox {
    display: block;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
} 
table {
    border-collapse: collapse;
    border-spacing: 0;
}

#navbar {
    position: sticky;
    top: 0;
    margin-bottom: 9%;
    background: var(--navbar) !important;
}
nav.navbar {
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 3px 7px rgba(63, 63, 63, 0.245);
    font-size: 14px;
}
nav .navbar-brand {
    font-weight: 600;
}
nav .navbar-nav {
    flex: 1;
    justify-content: center;
}
nav .navbar-nav .nav-link {
    padding: 10px 20px;
    margin: 0 20px 0 0;
}
nav form {
    border: 1px solid rgba(153, 153, 153, 0.242);
    padding: 2px;
    border-radius: 20px;
    font-size: 14px;
}
nav form input.form-control {
    background-color: transparent;
    border: none;
    border-radius: 20px;
}
nav form button.btn {
    border-radius: 20px;
    color: #fff !important;
    border: none;
    padding: 7px 20px;
}
nav button.collapsed .fa-bars {
    display: block;
}
nav button .fa-bars {
    display: none;
}
nav button.collapsed .fa-times {
    display: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px 0;
}



.panel {
    margin: 10px 20px;
}

.pricing-img {
    margin-bottom: 25px;
    width: 100%;
    max-width: 100%;
}

.panel {
    border-radius: 10px;
    padding: 15px 25px;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
}

.pricing-plan {
    border-bottom: solid 1px #e1f1ff;
}

.pricing-plan:last-child {
    border-bottom: none;
}

.pricing-header {
    font-weight: 600;
    letter-spacing: 1px;
}

.pricing-features {
    margin: 50px 0 25px;
    color: #016ff9;
}
/* 
.pricing-features-item:last-child {
    border-bottom: 2px solid #e1f1ff;
} */

.pricing-price {
    display: block;
    font-size: 32px;
    font-weight: 700;
}

.pricing-button {
  display: inline-block;
  text-decoration: none;
  transform: background-color 200ms ease-in-out;
}

.pricing-button, .style {
  border-radius: 10px;
  padding: 15px 30px;
  margin: 25px 0;
}

.style {
  position: fixed;
  right: 10px;
  bottom: 10px;
  border: none;
  transition: all 0.2s ease-in-out;
  font-size: 16px;
}

.style:hover {
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: #000 0 0 10px;
  text-shadow: #fff 0 0 50px;
}
@media(max-width: 990px) {
    nav #checkbox {
        margin-left: -1em;
    }
    nav .navbar-nav .nav-link {
        padding-left: 0;
    }
    nav .form-switch {
        padding-left: 1em;
        margin-bottom: 20px;
    }
}
@media(min-width: 900px) {
    .panel {
        flex-direction: row;
        margin: 0;
    }
    .pricing-plan {
        border-bottom: none;
        padding: 25px 40px;
    }
    .pricing-plan:last-child {
        border-bottom: none;
        border-right: none;
    }
    .container{
      padding:0;
  }

}
@media(max-width: 900px){
  .pricing-plan{
    border-right: 0;
  }
}

.footer-basic {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--footer);
    color: var(--footer-txt);
  }

  .footer-basic ul {
    padding: auto;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
    display: flex;
  }

  .footer-basic li {
    padding:0 10px;
  }

  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }

  .footer-basic ul a:hover {
    opacity:1;
  }

  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }

  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }

  .footer-basic .social > a:hover {
    opacity:0.9;
  }

  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }

  
/* btn-to-top */

.btn-to-top{
  position: fixed;
  width: 50px;
  height: 50px;
  background: var(--container-bg);
  border-radius:10px;
  bottom: 40px;
  right: 30px;
  text-decoration: none;
  text-align: center;
  line-height: 60px;
  color: white;
  font-size: 30px;
  z-index: 10000;
}

.btn-to-top span {
    bottom: 5px;
    position: relative;
}


.change-mode {
  margin-right: 10px;
}


/*
darkmode styles
*/
.dark-mode nav {
    background-color: var(--bg);
    color: #fff;
}
.dark-mode nav a {
    color: var(--grey);
}
.dark-mode nav button.navbar-toggler {
    color: #fff;
}
.dark-mode .footer-basic {
    background-color: var(--bg);
    color: #fff;
}
.toggler {
  max-height: 46px;
}
