*{
  margin: 0;
  padding: 0;
}

:root{

    --primary-color: #edf2fc;
    --secondary-color: #212121;
    --tertiary-color: #342453;


}
.dark_theme{
    --primary-color: #000106;
    --secondary-color: #fff;
    --tertiary-color: #234355;

}




html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
    scroll-behavior: smooth;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
    position: relative;
    background-color: var(--primary-color);
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
#navbar{
  position: sticky;
  top: 0;
}
.mode{
    cursor: pointer;
    z-index: 2;
    border-radius: 10%;
    background-color: white;
    background-color: var(--secondary-color));

}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px 0;
    background-color: var(--tertiary-color);
}


.panel {
    margin: 10px 20px;
}
.pricing-img {
    margin-bottom: 25px;
    width: 100%;
    max-width: 100%;
}

.panel {
    background-color: white;
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 15px 25px;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
}

.pricing-plan {
    border-bottom: solid 1px #e1f1ff;
    border-bottom: solid 1px var(--secondary-color);
}

.pricing-plan:last-child {
    border-bottom: none;
    border-bottom: 2px solid var(--secondary-color);
    color: var(--secondary-color);
}

.pricing-header {
    color: #888;
    color: var(--secondary-color);
    font-weight: 600;
    letter-spacing: 1px;
}

.pricing-features {
    margin: 50px 0 25px;
    color: #016ff9;
    color: var(--secondary-color);
}

.pricing-features-item:last-child {
    border-bottom: 2px solid #e1f1ff;
    border-bottom: 2px solid var(--secondary-color);
    color: var(--secondary-color) ;
}

.pricing-price {
    display: block;
    font-size: 32px;
    font-weight: 700;

}

.pricing-button {
  display: inline-block;
  text-decoration: none;
  transform: background-color 200ms ease-in-out;
}
.pricing-button, .style {
  border-radius: 10px;
  padding: 15px 30px;
  margin: 25px 0;
}
.style {
  position: fixed;
  right: 10px;
  bottom: 10px;
  border: none;
  transition: all 0.2s ease-in-out;
  font-size: 16px;
}
.style:hover {
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: #000 0 0 10px;
  text-shadow: #fff 0 0 50px;
}
@media(min-width: 900px) {
    .panel {
        flex-direction: row;
        margin: 0;
    }
    .pricing-plan {
        border-bottom: none;
        border-right: 2px solid #e1f1ff;
        border-right: 2px solid var(--secondary-color);
        padding: 25px 50px;
    }
    .pricing-plan:last-child {
        border-bottom: none;
        border-right: none;
    }
    .container{
        padding:0;
    }
}

.footer-basic {
    padding: 40px 0;
    background-color:#ffffff;
    background-color: var(--primary-color);
    color:#4b4c4d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-basic ul {
    padding: auto;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
    display: flex;
  }
  .footer-basic li {
    padding:0 10px;
  }
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  .footer-basic ul a:hover {
    opacity:1;
  }
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    border:1px solid var(--secondary-color);
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    color: var(--secondary-color);
    margin-bottom:0;
  }

  
@media (max-width: 768px) {
    .menu {
     display:none;
     position: absolute;
     background-color:#e1f1ff;
     background-color: var(--primary-color);
     right: 0;
     left: 0;
     text-align: center;
     padding: 16px 0;
    }
    .menu li:hover {
     display: inline-block;
     background-color:#3f92f9;
     background-color: var(--secondary-color);
     transition: 0.3s ease;
    }
    .menu li + li {
     margin-top: 12px;
    }
    input[type=checkbox]:checked ~ .menu{
     display: block;
    }
    .hamburger {
     display: block;
    }
    .dropdown {
     left: 50%;
     top: 30px;
     transform: translateX(35%);
    }
    .dropdown li:hover {
     background-color: #3f92f9;
     background-color: var(--secondary-color);
    }
    }

/* btn-to-top */
.btn-to-top{
  position: fixed;
  width: 50px;
  height: 50px;
  background: #ff8b24;
  border-radius:10px;
  bottom: 40px;
  right: 30px;
  text-decoration: none;
  text-align: center;
  line-height: 60px;
  color: white;
  color: var(--primary-color);
  font-size: 30px;
}

.btn-to-top span {
    bottom: 5px;
    position: relative;
}
#navbar{
  margin-bottom: 9%;
}
.change-mode {
  margin-right: 10px;
}
.toggler {
  max-height: 46px;
}