/* .preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f80f6;
    transition: opacity 0.75s, visbility 0.75s;
    z-index: 99999;
}

.preloader--hidden {
    opacity: 0;
    visibility: hidden;
}

.preloader::after {
    content: "";
    width: 75px;
    height: 75px;
    border-radius: 70%;
    border-right: 0.3rem solid white;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from { transform: rotate(0turn);}
    to { transform: rotate(1turn);}

} */

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    color: white;
    font: montserrat;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition: opacity 0.75s, visbility 0.75s;
    z-index: 99999;
}

.preloader--hidden {
    opacity: 0;
    visibility: hidden;
}

.ring {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: ring 2s linear infinite;
}

@keyframes ring {
    0%{
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px #e65c00;
    }
    50%{
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px #18b201;
    }
    100%{
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px #0456c8;
    }
}

.ring:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);

}

span {
    color: #737373;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 200px;
    animation: text 3s ease-in-out infinite;
}

@keyframes text {
    0% {
        color: #000000;
    }
}