/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    position: relative;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
    scroll-behavior: smooth;
}
.changeMode{
    display: inline-block;
    position: absolute;
    top:15px;
    left:15px;
}

.mode{
    cursor: pointer;
    z-index: 2;
    border-radius: 10%;
    background-color: white;
    
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px 0;
}



.panel {
    margin: 10px 20px;
}

.container-bg1 {
    background-color: #3f92f9;
}

.container-bg2 {
    background-color: #B25068;
}

.container-bg3 {
    background-color: #554994;
}

.pricing-img {
    margin-bottom: 25px;
    width: 100%;
    max-width: 100%;
}

.panel {
    background-color: white;
    border-radius: 10px;
    padding: 15px 25px;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
}

.pricing-plan {
    border-bottom: solid 1px #e1f1ff;
}

.pricing-plan:last-child {
    border-bottom: none;
}

.pricing-header {
    color: #888;
    font-weight: 600;
    letter-spacing: 1px;
}

.pricing-features {
    margin: 50px 0 25px;
    color: #016ff9;
}

.pricing-features-item {
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 1.5;
    padding: 15px 0;
    border-top: 2px solid #e1f1ff;
}

.pricing-features-item:last-child {
    border-bottom: 2px solid #e1f1ff;
}

.pricing-features-item2 {
  color: #E94560;
}

.pricing-features-item3 {
  color: #554994;
}

.pricing-price {
    color: #016ff9;
    display: block;
    font-size: 32px;
    font-weight: 700;
}

.pricing-price2 {
  color: #E94560;
}

.pricing-price3 {
  color: #554994;
}

.pricing-button {
    border: 2px solid #9dd1ff;
    border-radius: 10px;
    color: #016ff9;
    display: inline-block;
    padding: 15px 30px;
    text-decoration: none;
    margin: 25px 0;
    transform: background-color 200ms ease-in-out;
}

.pricing-button:hover,
.pricing-button:focus {
    background-color: #e1f1ff;
}

.pricing-button.is-featured {
    background-color: #016ff9;
    color: #e1f1ff;
}

.pricing-button.is-featured:hover {
    background-color: #e1f1ff;
    color: #054798;
}

.pricing-button2 {
    border: 2px solid #E94560;
    border-radius: 10px;
    color: #E94560;
    display: inline-block;
    padding: 15px 30px;
    text-decoration: none;
    margin: 25px 0;
    transform: background-color 200ms ease-in-out;
}

.pricing-button2:hover,
.pricing-button2:focus {
    background-color: #ffe1e1;
}

.pricing-button2.is-featured {
    background-color: #E94560;
    color: #e1f1ff;
}

.pricing-button2.is-featured:hover {
    background-color: #ffe1e1;
    color: #E94560;
}

.pricing-button3 {
    border: 2px solid #554994;
    border-radius: 10px;
    color: #554994;
    display: inline-block;
    padding: 15px 30px;
    text-decoration: none;
    margin: 25px 0;
    transform: background-color 200ms ease-in-out;
}

.pricing-button3:hover,
.pricing-button3:focus {
    background-color: #f7e1ff;
}

.pricing-button3.is-featured {
    background-color: #554994;
    color: #e1f1ff;
}

.pricing-button3.is-featured:hover {
    background-color: #f7e1ff;
    color: #554994;
}

@media(min-width: 900px) {
    .panel {
        flex-direction: row;
        margin: 0;
    }
    .pricing-plan {
        border-bottom: none;
        border-right: 2px solid #e1f1ff;
        padding: 25px 50px;
    }
    .pricing-plan:last-child {
        border-bottom: none;
        border-right: none;
    }
    .container{
        padding:0;
    }
    
}


