html {
  --bg: #cbcaca;
  --bg-panel: #ebebeb;
  --color-headings: black;
  --color-text: black;
  --toggle-btn: #231f20;
  --container-bg: #3f92f9;
  --borders-overall:  #2f2f2f;
  --pricing-plan: #fff;
  --pricing-header-h2: #333333;
  --pricing-button: #9dd1ff;
  --pricing-button-hover: #1f80f6;
  --style-btn:#175db2;
}

html[data-theme='dark'] {
  --bg: #333333;
  --bg-panel: #434343;
  --color-headings: white;
  --color-text: white;
  --toggle-btn: #b5b5b5;
  --container-bg: #262938;
  --borders-overall: #e1f1ff;
  --pricing-plan: #333333;
  --pricing-header-h2: white;
  --pricing-button: #635f5f;
  --pricing-button-hover: whitesmoke;
  --style-btn:#3681dc;
}

.dark-mode {
  --container-bg: #262938;
  --pricing-plan: #1d202d;
  --pricing-header-h2: white;
}

body {
  background-color: var(--container-bg);
}
nav .btn {
  background-color: var(--style-btn);
}
nav .navbar-nav .nav-link.active,
nav .navbar-nav .nav-link:hover {
  color: var(--style-btn);
  cursor:pointer;
}
.form-switch .form-check-input:checked {
  background-color: var(--style-btn);
}
.container-bg {
  background-color: var(--container-bg);
}

.style {
  background-color: var(--style-btn);
  color: whitesmoke;
}

.pricing-price{
    color: #016ff9;
}
.pricing-features-item {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 1.5;
  padding: 15px 0;
  border-top: 2px solid var(--borders-overall);
  font-size: 0.8em;
}
.pricing-table.panel {
  background-color: var(--pricing-plan);
}
.pricing-features-item:last-child {
  border-bottom: 2px solid var(--borders-overall);
}
.pricing-plan {
  border-right: 2px solid var(--borders-overall);
}
.pricing-header{
    color:var(--pricing-header-h2);
    font-size: 1.25em;
  }

.pricing-button {
  color: #1f80f6;
  transition: all 0.3s;
  background-color: var(--pricing-button);
  border: 2px solid #016ff9;
}
.pricing-button:hover,
.pricing-button:focus {
  background-color: var(--pricing-button);
  transition: all 0.3s;
  border-color: var(--pricing-button);
  color: var(--pricing-button-hover);
}
.pricing-button.is-featured {
  background-color: #016ff9;
  color: #e1f1ff;
  transition: all 0.3s;
}
.pricing-button.is-featured:hover {
  background-color: #11519f;
  color: white;
  transition: all 0.3s;
  border-color: #11519f;
}

.dark-mode {
  color: #fff;
}
.dark-mode .container-bg {
  background-color: var(--container-bg);
}
.square {
  background-color:#3f92f9;
}
.btn-primary{
  background-color: white;
  color:#3f92f9
}
.btn-primary:hover{
  color: white;
  background-color: #3f92f9;
}
.copyright{
  color: #016ff9;
}