html {
  --bg: #cbcaca;
  --bg-panel: #ebebeb;
  --color-headings: black;
  --color-text: black;
  --toggle-btn: #231f20;
  --container-bg: #3f92f9;
  --borders-overall: #0d1b27;
  --pricing-plan: #fff;
  --pricing-header-h2: #333333;
  --pricing-button: #9dd1ff;
  --pricing-button-hover: #1f80f6;
  --style-btn:#175db2;
}

html[data-theme='dark'] {
  --bg: #333333;
  --bg-panel: #434343;
  --color-headings: white;
  --color-text: white;
  --toggle-btn: #b5b5b5;
  --container-bg: #262938;
  --borders-overall: #e1f1ff;
  --pricing-plan: #333333;
  --pricing-header-h2: white;
  --pricing-button: #635f5f;
  --pricing-button-hover: whitesmoke;
  --style-btn:#3681dc;
}

.dark-mode {
  --container-bg: #262938;
  --pricing-plan: #1d202d;
  --pricing-header-h2: white;
}

body {
  background-color: var(--container-bg);
  background-color: #e39009;
}
nav .btn {
  background-color: var(--style-btn);
}
nav .navbar-nav .nav-link.active,
nav .navbar-nav .nav-link:hover {
  color: var(--style-btn)
}
.form-switch .form-check-input:checked {
  background-color: var(--style-btn);
}
.container-bg {
  background-color: var(--container-bg);
}

.style {
  background-color: var(--style-btn);
  color: whitesmoke
}

.pricing-price{
    color: #016ff9;
}
.pricing-features-item {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 1.5;
  padding: 15px 0;
  border-top: 2px solid var(--borders-overall);
  font-size: 0.8em;
}
.pricing-table.panel {
  background-color: var(--pricing-plan);
}
.pricing-features-item:last-child {
  border-bottom: 2px solid var(--borders-overall);
}
.pricing-plan {
  border-right: 2px solid var(--borders-overall);
}
.pricing-header{
    color:var(--pricing-header-h2);
    font-size: 1.25em;
  }

.pricing-button {
  color: #1f80f6;
  transition: all 0.3s;
  background-color: var(--pricing-button);
  border: 2px solid #016ff9;
}
.pricing-button:hover,
.pricing-button:focus {
  background-color: var(--pricing-button);
  transition: all 0.3s;
  border-color: var(--pricing-button);
  color: var(--pricing-button-hover);
}
.pricing-button.is-featured {
  background-color: #016ff9;
  color: #e1f1ff;
  transition: all 0.3s;
}
.pricing-button.is-featured:hover {
  background-color: #11519f;
  color: white;
  transition: all 0.3s;
  border-color: #11519f;
}

.dark-mode {
  color: #fff;
}
.dark-mode .container-bg {
  background-color: var(--container-bg);
}
.copyright{
  color: #016ff9;
}

*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.html{
    font-size: 62.5%;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.navbar{
    box-shadow: 0px 5px 10px 0px #aaa;
    position: fixed;
    width: 100%;
    background: #fff;
    color: #000;
    opacity: 0.85;
    z-index: 100;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items{
    order: 2;
    display: flex;
}
.logo{
    order: 1;
    font-size: 2.3rem;
}

.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.3rem;
}

.navbar a{
    color: #444;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover{
    color: #117964;
}

@media (max-width: 768px){
    .navbar{
        opacity: 0.95;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines{
        display: block;
    }

    .navbar-container{
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"]{
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines{
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }
    
    .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2{
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar .menu-items{
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
        box-shadow:  5px 0px 10px 0px #aaa;
        overflow: scroll;
    }

    .navbar .menu-items li{
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .logo{
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 2.5rem;
    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }

}

@media (max-width: 500px){
    .navbar-container input[type="checkbox"]:checked ~ .logo{
        display: none;
    }
}