html {
  --bg: #cbcaca;
  --bg-panel: #ebebeb;
  --color-headings: black;
  --color-text: black;
  --toggle-btn: #231f20;
  --container-bg: #409db4;
  --borders-overall: #2f2f2f;
  --pricing-plan: #ffffff;
  --pricing-header-h2: #333333;
  --pricing-button: #61b5dc;
  --pricing-button-hover-txt: rgb(255, 255, 255);
}

html[data-theme='dark'] {
  --bg: #333333;
  --bg-panel: #434343;
  --color-headings: white;
  --color-text: white;
  --toggle-btn: #b5b5b5;
  --container-bg: #349bad;
  --borders-overall: #ffffff;
  --pricing-plan: #333333;
  --pricing-header-h2: white;
  --pricing-button: #635f5f;
  --pricing-button-hover-txt: white;
}

.dark-mode {
  --container-bg: #24495b;
  --pricing-plan: #1d202d;
  --pricing-header-h2: white;
}

body {
  background-color: var(--container-bg);
}

nav .btn {
  background-color: #4792b5;
}
nav .navbar-nav .nav-link.active,
nav .navbar-nav .nav-link:hover {
  color:#4b8ba9;
}
.form-switch .form-check-input:checked {
  background-color: #377e9f;
}
.container-bg {
  background-color: var(--container-bg);
}

.style {
  background-color: #377e9f;
}
.pricing-price {
  color: #2a647f;
}
.pricing-header{
  color:var(--pricing-header-h2);
  font-size: 1.25em;
}
.pricing-table.panel{
  background-color: var(--pricing-plan);
}
.pricing-features-item {
  border-top: 2px solid var(--borders-overall);
  font-size: 0.8em;
  color: #377e9f;
}
.pricing-features-item:last-child {
  border-bottom: 2px solid var(--borders-overall);
}
.pricing-plan{
  border-right: 2px solid var(--borders-overall);
}


.pricing-button{
  border: 2px solid #377e9f;
  background-color: var(--pricing-button);
  color: #000000;
  transition: all 0.3s;
}
.pricing-button:hover,
.pricing-button:focus {
  border-color: var(--pricing-button);
  color: var(--pricing-button-hover-txt);
  transition: all 0.3s;
}
.pricing-button.is-featured {
  background-color: #377e9f;
  color: white;
  transition: all 0.3s;
  border-color: #377e9f;

}
.pricing-button.is-featured:hover {
  background-color: #174e67;
  color: white;
  border-color: #174e67;
  transition: all 0.3s;
}
.square {
  background-color:#377e9f;
}
.btn-primary{
  background-color: white;
  color:#377e9f;
}
.btn-primary:hover{
  color:white;
  background-color: #377e9f;
}
.copyright{
  color: #05212e;
}
